# Q1. What are the three measures of central tendency?

# ans.. 1 ..mean 
# 2.. median 
# 3. mod

# Q2. What is the difference between the mean, median, and mode? How are they used to measure the central tendency of a dataset?

# ans..mean= mean basicaly is the sum of all tream  and divied by the total number of points
# median = median is used to the effect of out- layer 
# mode= mode is nothing as the maximum time accoring the elment 
 # alll used to the data numercaliy anlasis

# Q3. Measure the three measures of central tendency for the given height data:

In [1]:
import numpy as np

In [3]:
t=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [4]:
np.mean(t)

177.01875

In [5]:
np.median (t)

177.0

In [8]:
from scipy  import stats

In [9]:
stats.mode(t)

C:\Users\himan\AppData\Local\Temp\ipykernel_17220\2267931513.py:1: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(t)

ModeResult(mode=array([177.]), count=array([3]))

# Q4. Find the standard deviation for the given data:

In [11]:
h=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [12]:
np.std(t)

1.7885814036548633

# Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe the spread of a dataset? Provide an example.

# measure of dispersion such as range ,variance and standard deviation are used to describe the spread of a dataset by quantifying how much the data values deviate from a cental value , such as the mean or the median .these measure help to understand how homogeneous or heterogeneous the data is and how reliable the central value is as a summary of the data.

# Q6. What is a Venn diagram?

# ans.. venn digram is the grahpic aproch for study the 2 or more data set study in one time

# Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:

In [13]:
A={2,3,4,5,6,7}
B={0,2,6,8,10}

In [14]:
# union 
A|B

{0, 2, 3, 4, 5, 6, 7, 8, 10}

In [15]:
# intersecation 
A&B

{2, 6}

# Q8. What do you understand about skewness in data?

# ans.. Skewness is a measure of the asymmetry of a distribution . A distribution is asymmetrical when its left and right side are not mirror image

# Q9. If a data is right skewed then what will be the position of median with respect to mean?

# ans.. Dtata is the right skewed  the relationship b/w mean median 
# mead>=median>=mode

# Q10. Explain the difference between covariance and correlation. How are these measures used in statistical analysis?

# ans.. covariance is an indicator of how two random variable change concerning each other corrrelation ,on the other hand ,measure the strenght of this relationship

In [16]:
import seaborn as sns

In [17]:
tips=sns.load_dataset('tips')

In [19]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [20]:
tips.cov()

C:\Users\himan\AppData\Local\Temp\ipykernel_17220\1117630634.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  tips.cov()

            total_bill       tip      size
total_bill   79.252939  8.323502  5.065983
tip           8.323502  1.914455  0.643906
size          5.065983  0.643906  0.904591

In [21]:
tips.corr()

C:\Users\himan\AppData\Local\Temp\ipykernel_17220\3825555837.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  tips.corr()

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000

# Q11. What is the formula for calculating the sample mean? Provide an example calculation for a dataset.

# (x^-)=sumition of( i=1 to n) xi /n

In [24]:
tips.mean()

C:\Users\himan\AppData\Local\Temp\ipykernel_17220\618375813.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  tips.mean()

total_bill    19.785943
tip            2.998279
size           2.569672
dtype: float64

# Q12. For a normal distribution data what is the relationship between its measure of central tendency?

# data is normal distribution so the relation-ship mean median is perfactly  equal 
# mean=median =mode

# Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

# ans.. the given data is the outliers so the affect the mean  so the hendal the this type cechvation used to meadian

In [25]:
A=[1,2,3,4,5,6,7,8,912]

In [28]:
A1=[1,2,3,4,5,6,7,8]

# the given data 912 is the outliers

In [26]:
np.mean(A)

105.33333333333333

In [29]:
np.mean(A1)

4.5

In [30]:
np.median(A)

4.5

In [31]:
np.median(A1)

4.5